/* Style the navbar */
body {
    margin: 0px;
}

div {
    margin-left: 5px;
}

.caption {
    text-align: center;
    position: relative;
    bottom: 0px;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
    margin-left: 0px;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#transport, #healthcare, #bank, #internet, #government, #hebrew {
    scroll-margin-top:50px;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

img {
    max-width: 200px;
    max-height: 40px;
    margin: auto;
}

.imagelist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#gov, #aliyah {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

